setenv.sh
build/
out/
*.iml
*.ipr
*.iws
*.log
/.idea
.gradle/
*.db
node_modules/
bower_components/
.asscache
.sass-cache
.terraform/
*.tfstate*
/grails-app/assets/vendor/
/bin/
.classpath
.project
.settings
plan-output*
